.btn {
  cursor: pointer;
  border: 1px solid gray;
  margin-right: 15px;
  border-radius: 20%;
  text-align: center;
  width: 60px;
  height: 30px;
  padding: 5px 30px;
  color: white;
  transition: all 0.4s;
  background-color: inherit;
}
.li:hover {
  border: 1px solid #3f92d2;
  color: #3f92d2;
}
.active {
  border-color: #3f92d2;
  color: #3f92d2;
}

