.movie {
  position: relative;
  width: 250px;
  padding: 0 12.5px;
  margin-bottom: 25px;

  &__subtitle {
    &__title {
      font-size: 18px;
    }
    &__year {
      font-size: 15px;
      color: gray;
    }
  }
  &__main {
    border: 5px solid #fff;
    transition: border 0.4s ease;
    border-radius: 5px;
    width: 230px;
    height: 345px;
  }
}


