.movie {
  width: 300px;
  padding: 0 12px;
  margin-bottom: 25px;
  &__subtitle {
    &__title {
      font-size: 18px;
    }
    &__year {
      font-size: 15px;
      color: gray;
    }
  }
  &__main img {
    border-radius: 12px;
  }
}
